{% extends 'base.html' %}
{% block body %}
    <div class="container my-3">
        <h3>Update your Todo</h3>
      <form action="/update/{{todo.sno}}" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title of your work</label>
          <input type="text" class="form-control" name="title" value="{{todo.title}}" id="title" />
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <input type="text" class="form-control" name="desc" value="{{todo.desc}}" id="desc" />
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>

    
          <!-- {% for todos in allToDo %}
            <tr>
            <th scope="row">{{todos.sno}}</th>
            <td>{{todos.title}}</td>
            <td>{{todos.desc}}</td>
            <td>{{todos.date_created}}</td>
          </tr>
         {% endfor %} -->
        </tbody>
      </table>
    </div>
{% endblock body %}